= simple_form_for @event, :url => wizard_path, :method => :put do |f|
  = text_area_tag :mail_address

  .form-actions
    = f.submit 'メール送信して登録完了', class: 'btn btn-warning', name: 'send'
    = f.submit 'メール送信せずに登録完了', class: 'btn btn-primary'
